body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color:#4CAF50;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.journal-entry {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.journal-entry h2 {
    margin-top: 0;
}

.journal-entry form {
    display: flex;
    flex-direction: column;
}

.journal-entry label {
    margin-bottom: 0.5em;
}

.journal-entry input, .journal-entry select, .journal-entry textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
}

.journal-entry button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.journal-entry button:hover {
    background-color: #444;
}

.journal-entries {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.journal-entries h2 {
    margin-top: 0;
}

.journal-entries ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.journal-entries li {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

.journal-entries li:last-child {
    border-bottom: none;
}